<section class="register_section">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-lg-11">
                <div class="card border-0 shadow-lg animate__animated animate__flipInX">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="https://media.istockphoto.com/id/1313456479/photo/man-and-soul-yoga-lotus-pose-meditation-on-nebula-galaxy-background.webp?b=1&s=170667a&w=0&k=20&c=p_EQSpHfArCOvibKe7ypoyFZERAiEFHuFx4weXiHd0g=" alt="meditation_img" class="img-fluid h-100 w-100">
                            </div>
                            <div class="col-lg-6 p-5">
                                <h4 class="mb-4">Reset Password</h4>
                                <form [formGroup]="resetForm">
                                    <div class="form-group" [class.error]="resetForm.get('password')?.invalid && resetForm.get('password')?.dirty">
                                        <i class='bx bx-lock-alt' [ngClass]=" visible? 'bx bx-lock-alt' : 'bx bx-lock-open-alt' " (click)="viewPass()"></i>
                                        <input [type]=" changetype? 'password' : 'text' " placeholder="" formControlName="password">
                                        <label>Password</label>
                                        <span class="text-danger" *ngIf="resetForm.hasError('required' , 'password') && resetForm.controls['password'].dirty">
                                            Password is required.
                                        </span>
                                        <span class="text-danger" *ngIf="resetForm.hasError('minlength', 'password') && resetForm.controls['password'].dirty">
                                            Password should contain atleast 8 characters.
                                        </span>
                                    </div>
                                    <div class="form-group" [class.error]="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.dirty">
                                        <i class='bx bx-lock-alt' [ngClass]=" confirmVisible? 'bx bx-lock-alt' : 'bx bx-lock-open-alt' " (click)="viewConfirmPass()"></i>
                                        <input [type]=" confirmChangetype? 'password' : 'text' " placeholder="" formControlName="confirmPassword">
                                        <label>Confirm Password</label>
                                        <span class="text-danger" *ngIf="resetForm.hasError('required' , 'confirmPassword') && resetForm.controls['confirmPassword'].dirty">
                                           Confirm Password is required.
                                        </span>
                                        <span class="text-danger" *ngIf="resetForm.hasError('confirmPasswordValidator', 'confirmPassword')">
                                            Password didn't matched!.
                                        </span>
                                    </div>
                                    <div class="form-group pt-3">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block rounded-pill" (click)="reset()" [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid || resetForm.hasError('confirmPasswordValidator' , 'confirmPassword')">Change Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>